[user]
	email = louis.lin.87@gmail.com
	name = Louis LIN
[credential]
	helper = cache
[core]
	editor = vim
[alias]
	st = status
	df = diff
	co = checkout
	ci = commit
	undo = reset --soft HEAD^
	adda = add -A
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[push]
	default = simple
[color]
	ui = true
