/secrets

# colorscheme.lua is created by home-manager, so I don't need to version it.
home-manager/modules/share/editor/nvim/.config/nvim/lua/plugins/colorscheme.lua
# LazyVim create & update this file. No need to version it.
home-manager/modules/share/editor/nvim/.config/nvim/lazyvim.json
