[user]
	email = louis.lin.87@gmail.com
	name = Louis LIN
[credential]
	helper = cache
[core]
	editor = vim
    excludesfile = ~/.gitignore_global
    autocrlf = input
[alias]
	st = status -sb
	df = diff
	co = checkout
	ci = !git add -A && git commit
	undo = reset --soft HEAD^
	adda = add -A
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%ci) %C(bold blue)<%an>%Creset' --abbrev-commit
    wdiff = diff --word-diff --color-words=.
	ffs = flow feature start
    fff = flow feature finish
    fhs = flow hotfix start
    fhf = flow hotfix finish
    frs = flow release start
    frf = flow release finish
    ignore = update-index --assume-unchanged
    unignore = update-index --no-assume-unchanged 
    ignored = !git ls-files -v | grep "^[[:lower:]]"
    ba = branch -avv
    bd = branch -D
    oops = commit --amend
    me = merge --no-ff
[push]
	default = upstream
# activate color for all commands
[color]
	ui = auto
# diff with meaningful prefix and word-diff will find a letter as a word
[diff]
	mnemonicprefix = true
	wordRegex = .
# commands will be autocorrect (rset -> reset)
[help]
	autocorrect = -1
# remember previous conflict resolutions
[rerere]
	enabled = true
# pull will do a rebase instead of a merge
[pull]
	rebase = true

# merge is looking harder for renames
[merge]
    renamelimit = 3000

# Automatically stash any local changes before rebasing
[rebase]
	autostash = true

