[user]
	email = louis.lin.87@gmail.com
	name = Louis LIN
[credential]
	helper = cache
[core]
	editor = vim
    excludesfile = ~/.gitignore_global
    autocrlf = input
[alias]
    adda = add -A
    ba = branch -avv
    bd = branch -D
    bdr = !git branch --merged | egrep -v \"(master|dev)\" | xargs git branch -d
    cdiff = log --oneline --no-merges
    ci = !git add -A && git commit
    co = checkout
    df = diff
    ignore = update-index --assume-unchanged
    ignored = !git ls-files -v | grep "^[[:lower:]]"
    lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%ci) %C(bold blue)<%an>%Creset' --abbrev-commit
    logv = log --graph --all --decorate --stat --date=iso
    me = merge --no-ff
    oops = commit --amend
    rh = reset --hard
    rl = reflog --pretty=reflog
    st = status -sb 
    undo = reset --soft HEAD^
    unignore = update-index --no-assume-unchanged 
    wdiff = diff --word-diff --color-words=.
[push]
	default = upstream
# activate color for all commands
[color]
	ui = auto
# diff with meaningful prefix and word-diff will find a letter as a word
[diff]
	mnemonicprefix = true
	wordRegex = .
# commands will be autocorrect (rset -> reset)
[help]
	autocorrect = -1
# remember previous conflict resolutions
[rerere]
	enabled = true
# pull will do a rebase instead of a merge
[pull]
	rebase = true
# merge is looking harder for renames
[merge]
    renamelimit = 3000
# Automatically stash any local changes before rebasing
[rebase]
	autostash = true
[pretty]
    # reflog, with relative date (but for commits, not reflog entries!):
    reflog = %C(auto)%h %<|(17)%gd %<|(31)%C(green)%ci%C(reset) %gs (%s)

