snippet suggreplace
	\`\`\`suggestion:-0+0
  ${1}
	\`\`\`

snippet sugg
  __suggestion__: ${2}

snippet suggnonblocking
  __suggestion (non-blocking)__: ${2}

snippet th
  __thoughts__: ${1}

snippet ch
  __chore__: ${1}

snippet nit
  __nitpick__: ${1}

snippet nitnonblocking
  __nitpick (non-blocking)__: ${1}

snippet iss
  __issue__: ${1}

snippet ques
  __question__: ${1}

