# maven

snippet dep "adds a dependency declaration"
	<dependency>
		<groupId>${1}</groupId>
		<artifactId>${2}</artifactId>
		<version>${3}</version>
	</dependency>

snippet pl "adds a plugin definition"
	<plugin>
		<groupId>${1}</groupId>
		<artifactId>${2}</artifactId>
		<version>${3}</version>
	</plugin>

snippet disable-spotless "disable spotless"
	<!-- NOCOMMIT -->
	<inherited>false</inherited>
