@import "./colorscheme.css";

* {
  font-family:
    JetBrainsMono Nerd Font,
    FontAwesome;
  font-size: 16px;
  font-weight: bold;
}

window#waybar {
  background-color: @bg;
  color: @fg;
  transition-property: background-color;
  transition-duration: 0.5s;
  border-radius: 8px;
}

#user,
#cpu,
#memory,
#temperature,
#disk,
#workspaces,
#privacy,
#pulseaudio,
#battery,
#backlight,
#network,
#bluetooth,
#clock,
#tray {
  background-color: @bg;
  color: @fg;

  margin-top: 7px;
  margin-bottom: 7px;
}

#workspaces {
  padding: 0px;
}

#workspaces button {
  padding-right: 14px;
}

#workspaces button.active {
  background-color: @bg-alt;
  color: @fg-alt;

  border-radius: 8px;
  margin-top: 4px;
  margin-bottom: 4px;
}

#user {
  padding-left: 20px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

#privacy {
  color: @red;
}

#battery.charging {
  color: @green;
}
#battery.warning {
  color: @yellow;
}

#battery.critical,
#temperature.critical {
  color: @red;
}

#custom-exit {
  color: @red;
  padding-right: 20px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
