alias sz="source ~/.zshrc"
alias agi="sudo apt-get install"
alias agr="sudo apt-get remove"
alias v="nvim"
alias ez="v ~/.zshrc"
alias g="git"
alias gbdr='git branch -r | awk "{print \$1}" | egrep -v -f /dev/fd/0 <(git branch -vv | grep origin) | awk "{print \$1}" | xargs git branch -D'
alias grep="grep --color=auto"
# copy with a progress bar.
alias cpv="rsync -apoghb --backup-dir=/tmp -e /dev/null --inplace --info=progress2 --"
# Compute space disk
alias df="df -Th"
# alias du="du -sh *"
alias du="nnn -S"
# Record a GIF
alias gif="byzanz-record --duration=5 --x=250 --y=235 --width=1200 --height=800 ~/tmp/byzanz.gif"
# Stellar - DB snaphost https://github.com/fastmonkeys/stellar
alias stellars="stellar snapshot"
alias stellarr="stellar restore"
alias stellarl="stellar list"
# Check used port
alias usedports="netstat -taupen"
alias whousethatport="lsof -i" # losf -i :8000
alias rmf="rm -rf"
diffWithColor() {
        diff -u $1 $2|colordiff|less -R
}
alias diffc="diffWithColor"
# tar
alias tarx="tar xzvf"
alias tarc="tar czvf"
# sudo
alias sudo="sudo "
alias _="sudo "
alias please="sudo "
# lsd
alias l="lsd -la --group-dirs first"
# postgres with docker
alias psql="docker exec -it local_postgres psql"
alias pg_dump="docker exec -it local_postgres pg_dump"
# weather
alias weather="curl https://wttr.in/"
# prettyping
alias ping="prettyping --nolegend"
# find configured local DNS servers
alias find-dns-servers="nmcli dev show | grep 'IP4.DNS'"
# Enable NVM
alias enable_nvm="sed -i 's/# nvm/nvm/' $HOME/.zshrc"
alias disable_nvm="sed -i 's/nvm/# nvm/' $HOME/.zshrc"
# Enable Elasticsearch in local
alias enable_elastic="sudo sysctl -w vm.max_map_count=262144"
# notes
note() {
  local noteDir="$HOME/perso/notes/$(date +%Y)"
  if [ $# -eq 0 ]; then
    cd ${noteDir}
  elif [[ "$1" == "new" ]]; then
    mkdir -p ${noteDir}
    local filePath="${noteDir}/$(date +%F)-$2.md"
    cat > ${filePath} <<EOF
---
title: $2
tags: #
---

EOF
    v ${filePath}
  else
    v ${noteDir}/$1
  fi
}
# test gitlab ci jobs
ci() {
  [[ ! -f .gitlab-ci.yml ]] && echo "Missing .gitlab-ci.yml file" 1>&2 && return 1
  [[ $# -eq 0 ]] && echo "Missing job name" 1>&2 && return 1
  gitlab-runner exec docker --docker-volumes /var/run/docker.sock:/var/run/docker.sock $1
}
# test helm chart in sandbox
helm_apply() {
  local project_name=$(basename "$(pwd)")
  helm template . --name ${project_name}-llin -f values.loukoum.yaml | kubectl apply -f -
}
helm_delete() {
  local project_name=$(basename "$(pwd)")
  helm template . --name ${project_name}-llin -f values.loukoum.yaml | kubectl delete -f -
}
