alias sz="source ~/.zshrc"
alias ez="vim ~/.zshrc"
alias agi="sudo apt-get install"
alias agr="sudo apt-get remove"
alias v="vim"
alias g="git"
alias gbdr='git branch -r | awk "{print \$1}" | egrep -v -f /dev/fd/0 <(git branch -vv | grep origin) | awk "{print \$1}" | xargs git branch -D'
alias grep="grep --color=auto"
# copy with a progress bar.
alias cpv="rsync -poghb --backup-dir=/tmp/rsync -e /dev/null --progress --"
# Compute space disk
alias df="df -Th"
# alias du="du -sh *"
alias du="nnn -S"
# Record a GIF
alias gif="byzanz-record --duration=5 --x=250 --y=235 --width=1200 --height=800 ~/tmp/byzanz.gif"
# Stellar - DB snaphost https://github.com/fastmonkeys/stellar
alias stellars="stellar snapshot"
alias stellarr="stellar restore"
alias stellarl="stellar list"
# Check used port
alias usedports="netstat -taupen"
alias whousethatport="lsof -i" # losf -i :8000
alias rmf="rm -rf"
diffWithColor() {
        diff -u $1 $2|colordiff|less -R
}
alias diffc="diffWithColor"
# tar
alias tarx="tar xzvf"
alias tarc="tar czvf"
# sudo
alias sudo="sudo "
alias _="sudo "
alias please="sudo "
# docker
alias d="docker"
alias dc="docker-compose"
# lsd
alias l="lsd -la --group-dirs first"
# postgres with docker
alias psql="docker exec -it local_postgres psql"
alias pg_dump="docker exec -it local_postgres pg_dump"
# kubernetes
alias k="kubectl"
alias f="fluxctl"
# weather
alias weather="curl https://wttr.in/"
# prettyping
alias ping="prettyping --nolegend"
# preview files
alias preview="fzf --preview 'bat --color \"always\" {}'"
# find configured local DNS servers
alias find-dns-servers="nmcli dev show | grep 'IP4.DNS'"
# Enable NVM
alias enable_nvm="sed -i 's/# nvm/nvm/' $HOME/.zshrc"
alias disable_nvm="sed -i 's/nvm/# nvm/' $HOME/.zshrc"

