" see https://github.com/JetBrains/ideavim/wiki/set-commands
" list of available actions can be fetched by executing `:actionlist` in
" IntelliJ. They are also available here:
" https://gist.github.com/zchee/9c78f91cc5ad771c1f5d

" -----------------------------------------------------------------------
" plugins
" -----------------------------------------------------------------------
" jump in file
set easymotion
" press `shift+j` on a line or selected block to join the lines together
set ideajoin
" project tree
set NERDTree
" highlight yank
set highlightedyank
" surround word
set surround
" delete and yank in different register
set ReplaceWithRegister

" -----------------------------------------------------------------------
" config
" -----------------------------------------------------------------------
let mapleader=" "
" set 7 lines to the cursor - when moving vertically using j/k
set so=7
" do incremental searching
set incsearch
" yank in clipboard
set clipboard=unnamedplus
" makes pattern matching case-insensitive
set ignorecase
" overrides ignorecase if your pattern contains mixed case
set smartcase
" add idea yank
set clipboard+=ideaput

" -----------------------------------------------------------------------
" keymaps
" -----------------------------------------------------------------------
" open NERDTree
nnoremap <A-1> :NERDTreeToggle<CR>
" format code
nnoremap <leader>cf :action ReformatCode<CR>
" comment
nnoremap gcc :action CommentByLineComment<CR>
vnoremap gc :action CommentByLineComment<CR>
" Acejump
nnoremap <leader>nl :action AceAction<CR>

" view change under caret
nnoremap <leader>gv :action VcsShowCurrentChangeMarker<CR>
" rollback changed lines
nnoremap <leader>gr :action Vcs.RollbackChangedLines<CR>
" show file history
nnoremap <leader>gd :action Vcs.ShowTabbedFileHistory<CR>

" navigation
nnoremap <C-k> <C-w>k<CR>
nnoremap <C-j> <C-w>j<CR>
nnoremap <C-h> <C-w>h<CR>
nnoremap <C-l> <C-w>l<CR>
