" see https://github.com/JetBrains/ideavim/wiki/set-commands

" -----------------------------------------------------------------------
" plugins
" -----------------------------------------------------------------------
" jump in file
set easymotion
" press `shift+j` on a line or selected block to join the lines together
set ideajoin
" project tree
set NERDTree
" highlight yank
set highlightedyank
" surround word
set surround
" delete and yank in different register
set ReplaceWithRegister

" -----------------------------------------------------------------------
" config
" -----------------------------------------------------------------------

let mapleader=" "
" set 7 lines to the cursor - when moving vertically using j/k
set so=7
" do incremental searching
set incsearch
" open NERDTree
nmap <A-1> :NERDTreeToggle<CR>
" yank in clipboard
set clipboard=unnamedplus
" makes pattern matching case-insensitive
set ignorecase
" overrides ignorecase if your pattern contains mixed case
set smartcase
" add idea yank
set clipboard+=ideaput

