" see https://github.com/JetBrains/ideavim/wiki/set-commands
" list of available actions can be fetched by executing `:actionlist` in
" IntelliJ. They are also available here:
" https://gist.github.com/zchee/9c78f91cc5ad771c1f5d

" -----------------------------------------------------------------------
" plugins
" -----------------------------------------------------------------------
" press `shift+j` on a line or selected block to join the lines together
set ideajoin

" project tree
set NERDTree
nnoremap <A-1> :NERDTreeToggle<CR>
nnoremap <leader>e :NERDTreeToggle<CR>

" highlight yank
set highlightedyank

" surround word
set surround

" delete and yank in different register
set ReplaceWithRegister

" display available keybindings in a popup
set which-key
set notimeout " or set timeoutlen=5000

" -----------------------------------------------------------------------
" config
" -----------------------------------------------------------------------
let mapleader=" "
" set 7 lines to the cursor - when moving vertically using j/k
set so=7
" do incremental searching
set incsearch
" yank in clipboard
set clipboard=unnamedplus
" makes pattern matching case-insensitive
set ignorecase
" overrides ignorecase if your pattern contains mixed case
set smartcase
" add idea yank
set clipboard+=ideaput
" show current line number
set number
" show relative line numbers
set relativenumber
" IdeaVim development stuff
set ideastrictmode

" -----------------------------------------------------------------------
" keymaps
" -----------------------------------------------------------------------

" EDITOR
" format code
nnoremap <leader>cf :action ReformatCode<CR>
nnoremap gq :action ReformatCode<CR>
" rename
nnoremap <leader>cr :action RenameElement<CR>
" comment
nnoremap gcc :action CommentByLineComment<CR>
vnoremap gc :action CommentByLineComment<CR>
" Acejump
nnoremap <leader>nl :action AceAction<CR>
" do not include white space characters when using $ in visual mode, see https://vi.stackexchange.com/q/12607/15292
vnoremap $ g_
" better indenting
vnoremap < <gv
vnoremap > >gv
" navigation
" Always put cursor at middle of screen.
nnoremap <C-d> <C-d>zz
nnoremap <C-u> <C-u>zz
" Do not select the next search element, so that I can easily do `cgn`.
nnoremap * *N
nnoremap # #N
" Insert shortcuts in insert mode
inoremap <A-S-a> <Esc>A
inoremap <A-S-i> <Esc>I
inoremap <A-o> <Esc>o
inoremap <A-S-o> <Esc>O

" VCS
" keys from vim-gitgutter
nmap ]h <Action>(VcsShowNextChangeMarker)
nmap [h <Action>(VcsShowPrevChangeMarker)
" view change under caret (Ctrl+Alt+g)
nnoremap <A-C-g> :action VcsShowCurrentChangeMarker<CR>
" rollback changed lines (Ctrl+Alt+z)
nnoremap <A-C-z> :action Vcs.RollbackChangedLines<CR>
" show file history (Alt+9)
nnoremap <leader>gl :action Vcs.ShowTabbedFileHistory<CR>

" NAVIGATION
nnoremap <A-C-k> <C-w>k
nnoremap <A-C-j> <C-w>j
nnoremap <A-C-h> <C-w>h
nnoremap <A-C-l> <C-w>l
inoremap <A-C-k> <Esc><C-w>k
inoremap <A-C-j> <Esc><C-w>j
inoremap <A-C-h> <Esc><C-w>h
inoremap <A-C-l> <Esc><C-w>l
