configuration {
    modi:                       "run";
    show-icons:                 true;
    display-drun:               "";
    display-run:                "";
    display-filebrowser:        "";
    display-window:             "";
    drun-display-format:        "{name}";
    window-format:              "{w} · {c} · {t}";
}
@theme "~/.config/rofi/color-schemes/github-light.rasi"
